 body{

font-family:Arial;

background:#f2f2f2;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.container{

background:white;

padding:30px;

width:350px;

border-radius:15px;

box-shadow:0 0 10px rgba(0,0,0,0.2);

text-align:center;

}

input{

width:90%;

padding:12px;

margin:10px;

font-size:18px;

border-radius:8px;

border:1px solid gray;

}

#strength{

font-size:28px;

font-weight:bold;

margin-top:15px;

}

.info{

text-align:left;

margin-top:20px;

}

#suggestion{

margin-top:20px;

font-size:18px;

font-weight:bold;

color:blue;

}
